<footer class="fixed-bottom bg-light opacity-75">
  <div class="d-none d-sm-flex justify-content-evenly">
    <button id="btn-top" class="btn btn-link link-secondary">社員情報</button>
    <button id="btn-pj" class="btn btn-link link-secondary">プロジェクトの近況</button>
    <button id="btn-future" class="btn btn-link link-secondary">将来ビジョン・具体的な目標の設定</button>
    <button id="btn-target" class="btn btn-link link-secondary">キャリアデザイン目標</button>
    <button id="btn-eval" class="btn btn-link link-secondary">自己評価</button>
    <button id="btn-req" class="btn btn-link link-secondary">要望</button>
    <button id="btn-save" class="btn btn-link link-secondary"><%= is_edit ? "保存・回答完了" : "戻る" %></button>
  </div>
</footer>
<script type="text/javascript">
  $('button[id^="btn-"]').click(function(){
    const tag = $(this).attr('id').substr(4);
    const position = $('#p-' + tag).offset().top;
    const speed = 200;
    $("html, body").animate({scrollTop:position}, speed, "swing");
  });
</script>